__pycache__/
# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual envs
venv/
env/
ENV/
.venv/

# Local Python installs (important for your case)
bin/
lib/
lib64/
include/

# Logs
*.log
logs/

# OS
.DS_Store

# Env files
.env
.local/
.cache/
.ssh/
